<!DOCTYPE html>
<html>
  <head>
    <title>Pet Store</title>
  </head>
  <body>
    <div class="intro">
      <h1>Welcome to Julie's Pet Store!</h1>
      <h4>Choose the type of pet you're shopping for.</h4>
    </div>
    <div class="type_cat">
      <img src="http://s7d2.scene7.com/is/image/PetSmart/ARTHMB-HowToHelpYourCatHaveFewerHairballs-20160818?$AR1104$" alt="Cats">
      <h3>Cats</h3>
    </div>
    <div class="type_dog">
      <img src = "http://www.publicdomainpictures.net/pictures/40000/nahled/golden-retriever-dog-1362597631o6g.jpg" alt="Dogs">
      <h3>Dogs</h3>
    </div>
    <div class="type_fish">
      <img src="https://s7d2.scene7.com/is/image/PetSmart/PB0101_HERO-Fish-Food-20160818?$sclp-banner-main_small$" alt="Fish">
      <h3>Fish</h3>
    </div>
    <div class="type_reptiles">
      <img src="http://www.factzoo.com/sites/all/img/reptiles/light-chameleon.jpg" alt="Reptiles">
      <h3>Reptiles</h3>
    </div>
  </body>
</html>